@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: gilroy;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


.iconsOpacity:hover {
  opacity: 0.5;
}

.cool-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #FE3B42;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.cool-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.6s ease;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.cool-button:hover::before {
  width: 0;
  height: 0;
}

.cool-button:hover {
  color: #FE3B42;
  background-color: #0A0D14;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition-delay: 0.3s;
  z-index: 1;
}



.hoverable-text {
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
}

.hoverable-text::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #3498db;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease, left 0.3s ease;
}

/* Animation on hover */
.hoverable-text:hover::before {
  width: 100%;
  left: 0;
}


/* Style for the link */
.hoverable-text,
.active {
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
}

/* Style for the line */
.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3498db;
  bottom: 0;
  left: 0%;
  transform: translateX(-50%);
  transition: width 0.3s ease, left 0.3s ease;
}


/* components/CustomCursor.module.css */

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: 9999;
  /* Ensure it's above other elements */
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.cursor-animation {
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.grayscale {
  filter: grayscale(100%);
}

/* Customize cursor appearance */
.w-4,
.h-4 {
  width: 16px;
  height: 16px;
}

.bg-transparent {
  background-color: transparent;
}

.rounded-full {
  border-radius: 50%;
  border-width: 2px;
}

.border-solid {
  border-style: solid;
}

/* Customize cursor animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.transitionTransform {
  transition: all 2s ease-in-out;
}

/* components/LoadingPage.module.css */

.loadingContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202328;
}

.loadingContent {
  color: #fff;
}

.loadingSpinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #FE3B42;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.loadingText {
  font-size: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Loader.css */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}

.pl__ring, .pl__ball {
  animation: ring 2s ease-out infinite;
}

.pl__ball {
  animation-name: ball;
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%, to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}

@keyframes ball {
  from, 50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%, 71%, 85%, 99%, to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}
